<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>
