<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tasks <%= @task.name %></h1>
      <h4>Description: <%= @task.description %></h4>
      <%= link_to "Edit #{@task.name}", edit_task_path(@task) %>
      <br>
      <%= link_to "Back to Tasks", root_path  %>
    </div>
  </div>
</div>
